---
title: "Tennis Love birthday email"
preheader: "🍾 Happy birthday from Tennis Love"
---

<x-main>

  <div class="sm:px-4">
    <table class="m-auto font-sans">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr class="bg-header">
              <td class="px-12 py-7 sm:px-6 text-center border-b">
                <a href="https://maizzle.com">
                  <img src="images/tennislove.png" width="70" alt="TennisLove">
                </a>
              </td>
            </tr>
            <tr>
              <td
                class="bg-no-repeat bg-main"
                style="background-image: url('images/birthday.png'), url('images/birthday2.png'), url('images/partyhat.png'), url('images/cake.png'), url('images/partyhat.png');
                background-position: top left, top right, bottom left, bottom center, bottom right;
                background-size: 40%, 40%, auto, auto, auto;"
              >

                  <table class="w-full my-12" style="font-family: 'Oldenburg', serif;">
                    <tr>
                      <td class="w-12 sm:w-5"></td>
                      <td>
                        <h1 class="m-0 mb-4 mt-6 text-4xl sm:text-3xl text-primaryblue text-center font-normal sm:leading-10">
                          Happy Birthday
                        </h1>

                        <p class="m-0 text-primaryblue text-center font-normal text-lg leading-6">
                          May all your wishes come true 
                        </p>

                        <p class="m-0 text-secondaryblack text-center text-sm leading-6 mt-4">from Tennis Love</p>
                      </td>
                      <td class="w-12 sm:w-5"></td>
                    </tr>
                  </table>

                  <x-spacer class="leading-16 sm:leading-8" />
                </x-v-fill>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-10">&zwj;</td>
            </tr>
            <tr>
              
              <td class="w-full px-6 sm:px-0 text-left">
                <table class="w-full bg-white">
                  <tr>
                    <td class="pb-8">
                      <table class="w-full">
                        <tr>
                          <td>

                            <h2 class="my-6 text-2xl leading-6 text-center text-secondaryblack font-bold" style="font-family: 'Roboto Flex', serif;">
                              Happy Birthday, Oyindamola!
                            </h2>

                            <p class="m-0 mb-6 text-base text-primaryblack font-medium"
                            >
                              From all of us at Tennis Love, we’re wishing a prosperous birthday. We’re super excited to celebrate this day with you. It is a reminder that you’ve come a long way, and you’re doing amazing.
                            </p>
                            <p class=" text-base text-primaryblack font-medium">Cheers to many amazing birthdays ahead.
                              <img src="images/party-emoji.png" alt="Party Face Emoji">
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  
                </table>
              </td>
              
            </tr>
            <tr>

              <table class="w-full px-6 sm:px-0">
                <tr>
                          
                  <td>
                    <x-divider space-y="24px" />
                  </td>
                </tr>
                <tr class="flex items-baseline">
                  <td>
                    <a href="#" class="text-indigo-700 hover:text-indigo-500 [text-decoration:none] pr-4">
                      <img src="images/twitter.png" alt="">
                    </a>
                    <a href="#" class="text-indigo-700 hover:text-indigo-500 [text-decoration:none] pr-4">
                      <img src="images/instagram.png" alt="">
                    </a>
                    <a href="#" class="text-indigo-700 hover:text-indigo-500 [text-decoration:none] pr-4">
                      <img src="images/facebook.png" alt="">
                    </a>
                    <a href="#" class="text-indigo-700 hover:text-indigo-500 [text-decoration:none]">
                      <img src="images/email.png" alt="">
                    </a>
                  </td>
                  <td class="mx-auto">
                    <p class="mb-0 text-xs text-primarygrey"><a href="#" class="text-primarygreen hover:cursor-pointer no-underline">Click here</a> to unsubscribe</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="mb-2 hover:cursor-pointer"><a href="#" class="no-underline text-xs text-primarygrey">Terms & Conditions</a></p>
                    <p class="mb-2 hover:cursor-pointer"><a href="#" class="no-underline text-xs text-primarygrey">Privacy Policy</a></p>
                  </td>
  
                </tr>
              </table>
              
              
                <tr role="separator">
                  <td class="leading-16 sm:leading-8">&zwj;</td>
                </tr>
                <tr>
                  <td class="px-12 sm:px-6 py-4 bg-main rounded text-left shadow-sm">
                    <p class="m-0 text-xs text-primarygrey text-center font-medium">
                      Copyright @ Tennis Love. All rights reserved
                    </p>
                  </td>
                </tr>
              </td>
              
            </tr>
  

          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
