---
title: "Verify email address"
preheader: "Use OTP to verify address"
---

<x-main>
  <div class="sm:px-4 font-sans">
    <table class="m-auto">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr class="bg-main">
              <td class="px-12 py-7 sm:px-6 text-center border-b">
                <a href="https://maizzle.com">
                  <img src="images/tennislove.png" width="70" alt="TennisLove">
                </a>
              </td>
            </tr>
            <tr>
              <td
                class="bg-header">

                  <table class="w-full my-6">
                    <tr>
                      <td class="w-10 sm:w-5"></td>
                      <td>
                        <h1 class="m-0 mb-4 mt-6 text-2xl text-secondaryblack text-center font-bold sm:leading-10"
                        style="font-family: 'Roboto Flex', serif;">
                        Verify Email Address
                        </h1>

                        <p class="m-0 text-primaryblack font-medium text-base leading-6">
                          Use the one-time password (OTP) below to confirm your email address to complete your account creation. 
                        </p>

                        <p class="my-8 tracking-[0.8rem] text-center font-extrabold text-xl font-normal">56784</p>

                        <p class="m-0 text-primaryblack font-medium text-base leading-6 mt-4">If you did not sign up for this account, please ignore this email. The OTP will expire in 5 minutes</p>
                        
                      </td>
                      <td class="w-10 sm:w-5"></td>
                    </tr>
                  </table>

                  <x-spacer class="leading-8 sm:leading-6" />
                </x-v-fill>
              </td>
            </tr>

            <tr>

              <table class="w-full px-6 sm:px-0">
                <tr>
                          
                  <td>
                    <x-divider space-y="24px" />
                  </td>
                </tr>
                <tr class="flex items-baseline">
                  <td>
                    <a href="#" class="text-indigo-700 hover:text-indigo-500 [text-decoration:none] pr-4">
                      <img src="images/twitter.png" alt="">
                    </a>
                    <a href="#" class="text-indigo-700 hover:text-indigo-500 [text-decoration:none] pr-4">
                      <img src="images/instagram.png" alt="">
                    </a>
                    <a href="#" class="text-indigo-700 hover:text-indigo-500 [text-decoration:none] pr-4">
                      <img src="images/facebook.png" alt="">
                    </a>
                    <a href="#" class="text-indigo-700 hover:text-indigo-500 [text-decoration:none]">
                      <img src="images/email.png" alt="">
                    </a>
                  </td>
                  <td class="mx-auto">
                    <p class="mb-0 text-xs text-primarygrey"><a href="#" class="text-primarygreen hover:cursor-pointer no-underline">Click here</a> to unsubscribe</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="mb-2 hover:cursor-pointer"><a href="#" class="no-underline text-xs text-primarygrey">Terms & Conditions</a></p>
                    <p class="mb-2 hover:cursor-pointer"><a href="#" class="no-underline text-xs text-primarygrey">Privacy Policy</a></p>
                  </td>
  
                </tr>
              </table>
              
              
                <tr role="separator">
                  <td class="leading-16 sm:leading-8">&zwj;</td>
                </tr>
                <tr>
                  <td class="px-12 sm:px-6 py-4 bg-main rounded text-left shadow-sm">
                    <p class="m-0 text-xs text-primarygrey text-center">
                      Copyright @ Tennis Love. All rights reserved
                    </p>
                  </td>
                </tr>
              </td>
              
            </tr>
  

          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
